body{
    margin: 0;
    padding: 0;
}
img{
    height: 140px;
    margin-top: 15px;
    margin-left: -330px;
}

h1{
    background-color: rgb(57, 194, 212);
    margin-top: -160px;  
    padding: 20px;
    height: 132px;
    text-align: center;
}
.login1{
    margin-left: 30px;
    margin-top: 40px;
    font-family: 'Times New Roman';
}
table{
    text-align: center;
}
form {
    text-align: center;
    margin-top: 100px;
    border: 3px solid seashell;
    width: 500px;
    box-shadow: 1px 1px 20px rgb(160, 155, 155);
}
input[type=email],input[type=submit] {
    padding: 12px 60px;
    margin: 8px 0;
    display: inline-block;
}
